<template>
  <div class="container">
    <hr>
    <h1>Search Jobs</h1>

    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="inputSearch"
        aria-describedby="emailHelp"
        placeholder="Enter value"
        autocomplete="off"
      >
    </div>
    <button class="btn btn-primary" @click="checkInput()">Search</button>

    <hr>
    <div v-if="($store.getters.results).length > 0">
      <jobs-list v-bind:jobs="jobsList"/>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import JobsList from "./JobsList.vue";

export default {
  name: "InputSearch",
  components: {
    JobsList
  },
  data: () => {
    return {
      input: "",
      job: {},
      jobsList: []
    };
  },

  methods: {
    // create to check which kind of reseach we want to do (by location or by description)  
    checkInput() {
      let inp = document.getElementById("inputSearch").value;
      this.getJobsByLocationName(inp);
    },
    getJobsByLocationName(locName) {
      let url = "http://localhost:1234/jobPosts/location";

      axios
        .get(url, {
          params: {
            locName: locName
          }
        })
        .then(res => {
          window.console.log(res.data);
          this.$store.commit("getResults", res.data);
        })
        .catch(err => {
          alert(err);
        });
    },

    getJobsByZipCode(zipCode) {
      zipCode;
    },
    // was not use
    getJobsByDiscription(descriptions) {
      descriptions;
    }
  }
};
</script>