<template>
    <div class="container">

        <button class="btn btn-primary" @click="this.goBack">Back</button>

        <hr>
        <h1>JobDetail</h1>
        <div class="card">
            <h5 class="card-header">{{ $store.getters.selectedJobPost.title}}</h5>
            <div class="card-body">
                <h5 class="card-title"><b>Company:</b> {{ $store.getters.selectedJobPost.company}}</h5>
                <h5 class="card-text"><b>Type:</b> {{ $store.getters.selectedJobPost.type}}</h5>
                <h5 class="card-text"><b>Location:</b> {{ $store.getters.selectedJobPost.location}}</h5>
                <h5 class="card-text"><b>Url:</b> <a class="card-link" :href="$store.getters.selectedJobPost.url">{{ $store.getters.selectedJobPost.url}}</a></h5>
                <h5 class="card-text"><b>Company Url:</b> <a class="card-link" :href="$store.getters.selectedJobPost.company_url">{{ $store.getters.selectedJobPost.company_url}}</a></h5>
                <h5 class="card-text"><b>Created At:</b> {{ $store.getters.selectedJobPost.created_at}}</h5>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: "JobDetail",
    props: {
        jobDetails: {},
    },
    methods: {
        goBack() {
            this.$router.go(-1);
        }
    }
}
</script>
