<template>
  <div>
    <router-link to="/details">
      <div class="list-group container" @click="getDetails()">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ jobItem.title }}</h5>
            <small>{{ jobItem.location }}</small>
          </div>
          <p class="mb-1">{{ jobItem.company }}</p>
          <p class="mb-1">{{ jobItem.type }}</p>
        </a>
      </div>
    </router-link>
  </div>
</template>
<script>
export default {
  name: "JobItem",
  props: {
    jobItem: {}
  },
  methods: {
    getDetails() {
      this.$store.commit("selected", this.jobItem);
    }
  }
};
</script>
<style>
    a {
        text-decoration: none !important;
    }
</style>
