<template>
  <div>
    <hr>
    <h1>List of Jobs</h1>
    <div v-for="job in $store.getters.results" :key="job.id">
      <job-item v-bind:jobItem="job"/>
    </div>
  </div>
</template>
<script>
import JobItem from "./JobItem.vue";
export default {
  name: "JobsList",
  components: {
    JobItem
  },
  props: {
    test1: String,
    jobs: {}
  },
  data: () => {
    return {
      jobList: {},
      job: {}
    };
  }
};
</script>
